[package]
name = "generate-text"
version = "0.1.0"
edition = "2021"
publish = false

[dependencies]
anyhow = "1"
tokio = { version = "1", features = ["rt-multi-thread", "macros"] }
ai-sdk-rs = { path = "../.." }
